[submodule "cricket-management-system/cricket-management-system"]
    path = cricket-management-system/cricket-management-system
    url = https://github.com/geyasrivagdevi/cricket-management-system.git
